# These folders are part of the main branch (or main branch build)
# that need to be used during the deploy workflow (i.e. not deleted
# when we're doing the gh-pages checkout)
#
.github/
target/
public/
