$theme-l5: #f4f6f8;
$theme-l4: #dbe2e8;
$theme-l3: #b7c6d0;
$theme-l2: #94a9b9;
$theme-l1: #708da2;
$theme-d1: #4c6475;
$theme-d2: #445968;
$theme-d3: #3b4e5b;
$theme-d4: #33434e;
$theme-d5: #2a3741;

$theme-light: #f4f6f8;
$theme-dark: #2a3741;
$theme-action: #2a3741;

$theme: #546f82;
$text-theme: $theme-l5;
$border-theme: $theme-l5;

$hover-theme: $theme-l5;
$hover-text-theme: $theme;
$hover-border-theme: $theme;