:root {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --border-colour: #546f82;
    --border-colour-highlight: hsl(from var(--border-colour) h s 60%);
    --border-text-colour: #f8f8ff;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-colour: #f8f8ff;
        --text-colour: #616161;
        --image-background-highlight: hsl(
            from var(--background-colour) h s 97%
        );
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-colour: #4a4a4a;
        --text-colour: var(--border-text-colour);
        --image-background-highlight: hsl(
            from var(--background-colour) h s 60%
        );
    }
}

html,
body {
    background-color: var(--background-colour);
    color: var(--text-colour);
    margin: 0px;
    padding: 0px;
}

main {
    height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header,
footer {
    background-color: var(--border-colour);
    color: var(--border-text-colour);
    padding: 20px;
}

header a,
footer a {
    color: var(--border-text-colour);
}

header a:hover,
footer a:hover {
    background-color: var(--border-colour-highlight);
}

header {
    display: flex;
    justify-content: space-between;
}

main > section {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 60%;
    justify-self: center;
    display: grid;
    justify-content: stretch;
    align-content: start;
    overflow-y: auto;
}

footer {
    font-size: smaller;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: larger;
    font-style: italic;
}

a {
    text-decoration: none;
    color: var(--text-colour);
}

a:hover {
    background-color: var(--border-colour-highlight);
    color: var(--border-text-colour);
}

table {
    width: 100%;
}

th {
    text-align: left;
}

img {
    background-color: var(--image-background-highlight);
    padding: 10px;
    border-radius: 10px;
}
